$primaryColor : #7E98DF;
$primaryColor9: rgba(126, 152, 223, 0.9);
$primaryColor8: rgba(126, 152, 223, 0.8);
$primaryColor7: rgba(126, 152, 223, 0.7);
$primaryColor6: rgba(126, 152, 223, 0.6);
$primaryColor5: rgba(126, 152, 223, 0.5);
$primaryColor4: rgba(126, 152, 223, 0.4);
$primaryColor3: rgba(126, 152, 223, 0.3);
$primaryColor2: rgba(126, 152, 223, 0.2);
$primaryColor1: rgba(126, 152, 223, 0.1);